FlappyBird/ProjectSettings/graphicssettings.asset filter=lfs diff=lfs merge=lfs -text
FlappyBird/ProjectSettings/TagManager.asset filter=lfs diff=lfs merge=lfs -text
FlappyBird/Assets/Scripts/ScrollingObject.cs filter=lfs diff=lfs merge=lfs -text
